<app-navegacion></app-navegacion>
<!-- start banner Area -->
<section class="about-banner relative">
  <div class="overlay overlay-bg"></div>
  <div class="container">
    <div class="row d-flex align-items-center justify-content-center">
      <div class="about-content col-lg-12">
        <h1 class="text-white">
          Catalogo
        </h1>
        <p class="text-white link-nav"><a href="index.html">Inicio </a>  <span class="lnr lnr-arrow-right"></span>  <a href="about.html"> Nosotros</a></p>
      </div>
    </div>
  </div>
</section>
<!-- End banner Area -->
<!-- Caja de Diagnosticos -->
<div class="three_box">
  <div class="container">
     <div class="row">
        <div class="col-md-4">
           <div class="box_text">
              <h3>Buscador</h3>
              <span class="fa-stack fa-4x">
                <img src="https://img.icons8.com/officel/80/000000/wheel.png"/>
            </span>
              <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Earum commodi laboriosam officiis dolorum rem a aperiam modi autem nulla, possimus sapiente ullam, quam adipisci quo. Vel temporibus rem labore esse!</p>
           </div>
        </div>
        <div class="col-md-4">
           <div class="box_text">
              <h3>Por estado</h3>
              <span class="fa-stack fa-4x">
                <img src="https://img.icons8.com/plasticine/100/000000/car-theft.png"/>
            </span>
              <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Recusandae corrupti culpa iste accusantium excepturi doloremque aliquid, ratione impedit aperiam expedita quam rerum ut deserunt iusto, similique quod. In, eligendi impedit.</p>
           </div>
        </div>
        <div class="col-md-4">
           <div class="box_text">
              <h3>Mapa (Proximamente)</h3>
              <span class="fa-stack fa-4x">
                <img src="https://img.icons8.com/color/96/000000/ford.png"/>
            </span>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla natus numquam inventore voluptas saepe nesciunt quidem iste tempore laboriosam. Illum commodi ipsum magni sapiente ratione. Id et omnis dolor officiis? </p>
           </div>
        </div>
     </div>
  </div>
</div>

