<app-navegacion></app-navegacion>
<section class="about-banner relative">
  <div class="overlay overlay-bg"></div>
  <div class="container">
    <div class="row d-flex align-items-center justify-content-center">
      <div class="about-content col-lg-12">
        <h1 class="text-white">
          Contactos
        </h1>
        <p class="text-white link-nav"><a href="index.html">Inicio </a>  <span class="lnr lnr-arrow-right"></span>  <a href="about.html"> Nosotros</a></p>
      </div>
    </div>
  </div>
</section>
<section class="contacto">
  <div class="container">
      <div class="row">
          <div class="col-md-4">
              <div class="blog-item position-relative rounded">
                  <div class="blog-info position-absolute">
                      <p class="text-gold mb-3"><span class="pa_Imagen">Cuidad de Mexico</span> — Eso Tilin
                      </p>
                      <h4 class="pa_Imagen"> San Mateo Tlatenango
                      </h4>
                  </div>
                  <img src="./../../../../assets/img/person.jpg" class="img-fluid rounded">

              </div>
              <h6 class="mt-5">Informacionde la empresa </h6>
              <p>Sientete Libre en mandarnos un correo <b>Arbutus@hotmail.com</b></p>
          </div>

          <div class="col-md-7 offset-md-1">
              <h2>Comencemos a Cuidar el mundo en el que vivimos.</h2>
              <p class="lead text-muted">Tienes Alguna Pregunta Acerca de los Madroños Contactanos</p>
              <form class="mt-6">
                  <div class="form-group">
                      <input type="text" class="form-control" id="" placeholder="Nombre">
                  </div>
                  <div class="form-group">
                      <input type="email" class="form-control" id="" placeholder="Email">
                  </div>
                  <div class="form-group">
                      <input type="password" class="form-control" id="" placeholder="Numero Telefonico">
                  </div>
                  <div class="form-group">
                      <textarea class="form-control" id="" placeholder="Mensaje" rows="5"></textarea>
                  </div>
                  <button type="submit" class="btn btn-secondary" disabled>Enviar Mensaje</button>
              </form>
          </div>
      </div>
  </div>

</section>

<div class="container border">
  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d101251.82066634645!2d-99.15028889470558!3d19.421318172111793!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85ce0026db097507%3A0x54061076265ee841!2sCiudad%20de%20M%C3%A9xico%2C%20CDMX!5e0!3m2!1ses-419!2smx!4v1637166964887!5m2!1ses-419!2smx" width="1142" height="454" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
</div>

