


  <h1 class="my-4">Buscador</h1>
  <div class="list-group">
    <a routerLink="/filtro/BuscadorsArbutus" class="list-group-item">Arbutus</a>
    <a routerLink="/filtro/BuscadorComarostaphylis" class="list-group-item">Comarostophylis</a>
  </div>

  <h1 class="my-4">Por tablas</h1>
  <div class="list-group">
    <a routerLink="/filtro/TablaArbutus" class="list-group-item">Tabla Arbutus</a>
    <a routerLink="/filtro/TablaComarostaphylis" class="list-group-item">tabla Comarostophylis</a>
  </div>


  <h1 class="my-4">Por estado</h1>
  <div class="list-group">
    <a routerLink="/filtro/PorEstadoEspecie1" class="list-group-item">Estados (Arbutus)</a>
    <a routerLink="/filtro/porEstadoEspecie2" class="list-group-item">Estados (Comarostaphylis)</a>
  </div>


  <h1 class="my-4">MAPA PROXIMAMENTE</h1>
  <div class="list-group">
    <a routerLink="/filtro/Arbutus" class="list-group-item">MAPA</a>
  </div>



